*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    padding-bottom: 30px;
}
#navbar{
    border: none;
    /* overflow: hidden; */
    height:90px;
    padding: 15px 80px; 
    margin: auto;
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;
}
#logo>a>img{
    height: 60px;
    padding-bottom: -10px;  
}
#navbar>div{
    /* display: flex;
    justify-content: space-between; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#but{
    margin: auto;
    align-items: center;
    width: 100px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
}
#login{
    height: 35px;
    width: 80px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
}
#login:hover{
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
}
#signup{
    height: 35px;
    width: 130px;
    border: none;
    color: black;
    margin-left: 5px;
    padding: 0px 5px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    background-color: #ffc714
}
#signup:hover{
    cursor: pointer;
    opacity: 85%;
}
.panel-heading{
    background-color: white;
    border: none;
}
.panel-heading1{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 5px;
   
    padding: 5px;
    width: 180px;
}
.panel-heading11{
    background-color: white;
    
    border: none;
}
#panel-heading1 hr{
    margin:0px;
}
#panel-heading1 a{
    padding: 10px;
}
.panel-group{
    background-color: white;
    margin-top: 10px;
    margin-left: 100px;
    border: none;
    display: flex;
    gap: 60px;
    justify-content: space-around;
}
.panel{
    background-color: white;
    border: none;
}
.panel-title{
    font-size: 16px;
}
.panel-title1{
    
    font-size: 16px;
    margin-top: 5px;
}

#nav-container{
    display: flex;
}
#panel-top{
    padding: 0px;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-weight: 500;
}
#nav-content{
    margin: auto;
    color: rgb(112, 112, 112);
}
#panel-body{
    padding: 10px 0px 0px 10px;
}
#panelurl{
    color: #23527c;
    font-weight: 500;
}
#panelurl:hover{
    cursor: pointer;
}
/* ============================================================== */
/* typewritting css */

#typing{
    text-align: center;
    color:black;
    margin-bottom: 150px;
    margin-top: -50px;
}

* { color:black; text-decoration: none;}

.wrap{
    font-size: 60px;
}

#info{
    margin-top: 20px;
}

#green-button{
    margin-top: 20px;
    background-color: #00ce78;
    border: none;
    font-size: 20px;
    font-family: 900;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 5px;
}

/* ============================================================== */
/* banner1 css with 5 photos */

#banner1{
    margin: auto;
    margin-top: 200px;
    text-align: center;
    background-color: #f7f7f7;
    width: 1050px;
    height: 630px;
}

#who{
    padding-top: 20px;
}

#audience>button{
    background-color: white;
    border: none;
    width: 180px;
    height: 35px;
    margin: 0px 10px;
}

#audience>button:hover{
    background-color: #f7f8fa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition-delay: 1ms;
}

#grid_container{
    margin: auto;
    margin-left: -140px;
    display: flex;
    scale: .8;
}
#grid_container>#first{
    margin-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: scale 300ms;
}

#grid_container>#allfour{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}
#grid_container>#allfour>img{
    transition: scale 300ms;
}

#grid_container>#first:hover{
    scale: 1.05;
}

#grid_container>#allfour>img:hover{
    scale: 1.05;
}


/* ============================================================== */
/* banner2 */

#banner2>h4{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

#banner2>div>img{
    width: 100%;
    margin-top: 50px;
}

/* ============================================================== */
/* banner3 */


#banner3 {
    margin: auto;
    margin-top: 75px;
    width: 70%;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#banner3>h3{
    padding-top: 50px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#banner3>h4{
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#banner3>div{
    padding-top: 50px;
    display: flex;
    scale: .9;
    justify-content: space-around;
}
#banner3>div>img{
    margin: 0px 10px;
    transition: scale 300ms;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
}
#banner3>div>img:hover{
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

/* ============================================================== */
/* banner4 */

#banner4>img{
    padding-top: 50px;
    width: 100%;
}

/* ============================================================== */
/* banner5 */

#banner5 {

    margin: auto;
    margin-top: 75px;
    text-align: center;
    font-size: 17px;

}

#banner5>p {
    margin: 25px;
    font-weight: 450;
}

#banner5>p>#blue{
    color: #23527c;
}

/* ============================================================== */
/* banner9 */

#banner9 {

    margin: auto;
    margin-top: 75px;
    text-align: center;
    font-size: 17px;

}
#banner9 p {
    padding-top: 20px;
}

/* ============================================================== */
/* banner10 */

#banner10>img{
    padding-top: 50px;
    width: 100%;
}
    
/* ============================================================== */
/* banner7 to 8*/

#banner7 {
    margin: auto;
    margin-top: 75px;
    padding: 25px 0px 25px;
    background-color: rgb(247, 247, 247);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#banner7>div {
    width: 75%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

#banner7>div>div {
    width: 40%;
    font-size: 17px;
}

#banner7>div>div>p {
    margin: 10px;
    font-size: 16px;
}

#banner7>div>div>button {
    margin: 20px auto 20px;
    padding: 10px 25px 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    font-size: medium;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#banner8 {
    margin: auto;
    margin-top: 75px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#banner8>p {
    margin: 20px;
}

#banner8>div {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#banner8>div>div {
    width: 30%;
    margin: auto;
    padding: 50px;
    scale: 1.2;
}

#banner8>div>div:hover {
    cursor: pointer;
   scale: 1.2;
}

#banner8>div>div>img {
    width: 100%;
}

#banner8>div>div>p {
    margin: 15px;
    text-align: start;
}

#banner8 #blue{
    color: #23527c;
}

/* ============================================================== */
/* banner11 */

#banner11>img{
    padding-top: 50px;
    width: 100%;
}

/* ============================================================== */
/* banner12 */

#banner12>img{
    padding-top: 50px;
    width: 100%;
}




/* ============================================================== */
/* typewritting css */

#typing{
    text-align: center;
    color:black;
    padding-top:10em;
    margin-top: 100px;
}

* { color:black; text-decoration: none;}

.wrap{
    font-size: 60px;
}

#info{
    margin-top: 20px;
}

#green-button{
    margin-top: 20px;
    background-color: #00ce78;
    border: none;
    font-size: 20px;
    font-family: 900;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 5px;
}

/* ============================================================== */
/* banner1 css with 5 photos */

#banner1{
    margin-top: 500px;
    margin: auto;
    text-align: center;
    background-color: #f7f7f7;
    width: 1050px;
    height: 550px;
}

/* ============================================================== */
/* nav bar sticky */


  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

  }

  
/* ============================================================== */


#container{
    /* border: 1px solid red; */
    width: 90vw;
    margin: auto;
    height: 75vh;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

#left-container{
    width: 22%;
    /* overflow-y: scroll; */
    padding-left: 30px;
    padding-top: 30px;
    border-right: 1px solid rgb(99, 98, 98);
}

/* #left-container>div:nth-child(2){
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 230px;
    margin-bottom: 10px;
} */
#left-container>div>input{
    border-style: none;
    height: 40px;
}
#search{
    padding-top: 10px;
    padding-right: 10px
}

#left-container>div:nth-child(2)>input{
    width: 215px;
    border: none;
    position: absolute;
    height: 29px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 18px;
    background: transparent;
}

.material-symbols-outlined{
    padding-top: 10px;
    margin-left: 200px;
}

#left-container>p{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 25px;
    color: rgb(41, 45, 49);
}

#left-container-labels>div{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 100;
    color: rgb(125, 125, 125);
}

#left-container-labels>div>input{
    cursor: pointer;
    padding-bottom: 12px;
}

#left-container-labels>div>label{
    padding-left: 10px;
    user-select: none;
}

.checkbox{
    width: 20px;
    height: 20px;
}

#right-container{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px 10px;
    padding: 30px;
    padding-left: 75px;
    overflow-y: scroll;
    height: 550px;
}

.child-box{
    height: 200px;
    border-radius: 5px;
    width: 90%;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
}

.child-box>p{
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#show{
    color: rgb(49, 191, 111);
}

#left-container>p:nth-child(1){
    color: rgb(120, 122, 124);
    font-size: 18px;
}



